includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  level: max
  paths:
    - app
    - tests
  excludes_analyse:
    - app/Console/Kernel.php
    - app/Exceptions/Handler.php
    - app/Http/Kernel.php
    - app/Http/Middleware/CheckForMaintenanceMode.php
    - app/Http/Controllers/Auth/LoginController.php
    - app/Http/Controllers/Admin/Auth/LoginController.php
  checkMissingIterableValueType: false