includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  ignoreErrors:
    - '#Cannot call method [a-zA-Z0-9()]+ on .+|null.#'
    - '#notExistingMethod()#'
    - '#Function factory invoked with [0-9] parameter, 0 required#'
    -
      message: '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-Z]+_at#'
      path: tests/Unit/Traits/CreatedAndUpdatedAtFormattedTest.php
  level: max
  paths:
    - app
    - tests
  excludes_analyse:
    - app/Console/Kernel.php
    - app/Exceptions/Handler.php
    - app/Http/Kernel.php
    - app/Http/Middleware/CheckForMaintenanceMode.php
    - app/Http/Controllers/Auth/LoginController.php
    - app/Http/Controllers/Admin/Auth/LoginController.php
    - app/User.php
    - app/Http/Controllers/Admin/ProfileController.php
    - app/Http/Controllers/Admin/Auth/ResetPasswordController.php
    - app/Servant.php
    - app/Http/Controllers/Servant/Auth/LoginController.php
    - app/Http/Controllers/Servant/Auth/ResetPasswordController.php
    - app/Notifications/ResetPasswordNotification.php
    - tests/Browser/Servants/Session/ResetPasswordTest.php
  checkMissingIterableValueType: false

