/*************************************************************
* Contract data
**************************************************************/
.span-contracts {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.p-contracts {
	border-radius: 3px;
	border: 1px solid rgba(0, 40, 100, 0.12);
	padding: 0.375rem 0.85rem;
}
/*************************************************************
* Complementary data
**************************************************************/
.btn-completary_data {
	margin-left: 80%;
}