*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
}

body{
	padding-top: 80px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
    font-feature-settings: "liga" 0;
    height: 100%;
    overflow-y: scroll;
    position: relative;

}

.header {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: #fff;
    border-bottom: 1px solid rgba(0,40,100,0.12);
}

.pb-4, .py-4 {
    padding-bottom: 0.50rem !important;
}

.header-brand {
    color: inherit;
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 0;
    transition: .3s opacity;
    line-height: 2rem;
}

.header-brand-img {
    height: 2rem;
    line-height: 2rem;
    vertical-align: bottom;
    margin-right: .5rem;
    width: auto;
}

.dropdown {
    display: inline-block;
}

.nav-link, .nav-item {
    padding: 0 .75rem;
    min-width: 2rem;
    transition: .3s color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.leading-none {
    line-height: 1 !important;
}

.text-default {
     color: #495057 !important; 
}

.sidebar {
    position: fixed;
    padding-left: 15px;
    max-height: calc(100vh - 5rem);
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    position: -webkit-sticky;
    position: sticky;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 3px;
}

.header-toggler {
    width: 2rem;
    height: 2rem;
    position: relative;
    color: #9aa0ac;
}

.header-toggler-icon {
    position: absolute;
    width: 1rem;
    height: 2px;
    color: inherit;
    background: currentColor;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin: -2px 0 0 -.5rem;
    box-shadow: 0 5px currentColor, 0 -5px currentColor;
}

.sidebar-heading {
    font-size: .85rem;
    text-transform: uppercase;
    color: #467fcf !important;
    font-weight: bold;
    padding: 2px 2px 2px 0;
}

.sidebar a.list-group-item {
    padding-left: 0;
}

.dropdown-item {
    color: #6e7687;
}

.header .dropdown-menu {
    margin-top: .75rem;
}

.dropdown-icon {
    color: #9aa0ac;
    margin-right: .5rem;
    margin-left: -.5rem;
    width: 1em;
}
